body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(70deg, rgb(21, 100, 114), rgb(250, 226, 40));
  font-family: cursive;
  font-weight: bolder;
}
.main {
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.left, .right{
  background: rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: none;
  overflow: hidden;
}
#image {
  width: 300px;
  height: 300px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#image0 {
  width: 300px;
  height: 300px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.right img, .left img {
  width: 300px;
}
.main .contents {
  width: 400px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  border: 3px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.main .contents::-webkit-scrollbar {
  display: none;
}
.main .cards {
  background: rgba(0, 0, 0, 0.2);
  width: 5000px;
  gap: 8px;
  display: flex;
  flex-direction: row;
}
.main .card, .main .card0 {
  background: rgba(255, 255, 255, 0.4);
  width: 300px;
  height: 300px;
  border-radius: 24px;
  flex-shrink: 0;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main .card0 {
  flex-direction: column;
}
.main .stickers {
  width: 200px;
}
.main .sstickers {
  width: 120px;
}
.main .ssstickers {
  width: 40px;
}
.music {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 40px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.music button {
  background: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.4);
  border: 0;
}
.music button:hover {
  color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 1080px) {
  .main {
    flex-direction: row;
  }
  .left, .right{
    display: block;
  }
}

@media (max-width: 500px) {
  .main {
    width: 100%;
    height: 300px;
  }
  .main .contents {
    width: 300px;
  }
  .main .cards {
    width: 4000px;
  }
  .main .card, .main .card0{
    width: 240px;
    height: 240px;
    font-size: 14px;
  }
  .main .stickers {
    width: 160px;
  }
  .music button {
    font-size: 14px;
  }
}